/* giving the head div some dimensions */
.header{
    width: 100%;
    height: 15vh;
    background: rgb(41, 41, 39);
    color: aliceblue;
    font-family: 'Fragments';
}
/* change the size of the input */
.form-control{
    width: 15vw;
}
/* flexing the nav to show the heading and search on the different sides of the page */
nav{
    display: flex;
    justify-content: space-between;
}
/* aligning content in the nav */
.intro,
.search{
    margin-top: 2.5rem;
}
/* flexing the search div to aligh them. */
.search{
    display: flex;
}
button{
    height: 2.52rem;
}
.search:last-child{
    margin-right: 4rem;
}
/* editting the intro child */
.intro{
    margin-left: 3rem;
}