@import "~bootstrap/dist/css/bootstrap.css";
/* linked bootstrap to the whole application */
@font-face{
    font-family: 'Fragments';
    src: url('../fonts/fragmentcore-webfont.woff');
    src:
    url('../fonts/fragmentcore-webfont.woff') format('woff')
    url('../fonts/fragmentcore-webfont.woff2') format('woff2')
}
@font-face{
    font-family: 'Hendagan';
    src: url('../fonts/hendangan-webfont.woff');
    src: 
    url('../fonts/hendangan-webfont.woff') format('woff'),
    url('../fonts/hendangan-webfont.woff2') format('woff2')
}
